@use '../../../../../../../styles/variables' as vars;

.price {
  display: flex;
  align-items: baseline;
  gap: vars.$spacing-sm;
  flex-wrap: wrap;

  &__current {
    margin: 0;
    color: vars.$primary-color;
    font-weight: vars.$font-weight-bold;
    font-size: vars.$font-size-xl;
    text-wrap: nowrap;
  }

  &__original {
    margin: 0;
    color: vars.$text-tertiary;
    text-decoration: line-through;
    font-size: vars.$font-size-sm;
    position: relative;
    text-wrap: nowrap;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 2px;
      background: vars.$error-color;
      transform: translateY(-50%);
    }
  }
}